@inject IProductImageUrlProvider ImageProvider
@if (Item == null){

}
else{
    <div class="product-card">
        <div class="badge-container">
            @if(Item.Discount > 0)
            {
                <div class="badge">
                    <img src="assets/Icons/offerFill.svg" alt="Badge">
                </div>
            }
        </div>
        <div class="fav">
            <img src="assets/Icons/Heart.svg" alt="Favorite">
        </div>

        <div class="product-image">
            <img src="@ImageProvider.GetProductImageUrl(Item.Id)" alt="@Item.Caption">
        </div>

        <div class="product-info">
            <h3 class="product-title">@Item.Caption</h3>
            <div class="price-row">
                <div class="price-container">
                    @if(Item.Discount > 0)
                    {
                       <span class="original-price">@Item.OldPrice.ToString("#,##")</span>
                    }
                        <span class="current-price">$@Item.Price.ToString("#,##")</span>
                                       
                </div>
            </div>
            <div class="jeweler-container">
                <span class="jeweler-name">@Item.ShopName</span>
            </div>
        </div>
    </div>
}
@code {
    [Parameter] public CatalogItem? Item { get; set; }
}