@page "/auth/forgot-password"
@rendermode InteractiveServer
@using System.ComponentModel.DataAnnotations
@using GoldBazar.Client.Web.Components.Pages.Auth.Components

<PageTitle>GOLD BAZAR - Forgot Password</PageTitle>

<main class="h-full flex flex-col items-center">
    <h2 class="text-[#2A2A2A] text-3xl my-[40px]">نوێکردنەوەی وشەی نهێنی</h2>


    <EditForm class="w-full max-w-[400px] flex flex-col gap-4 px-6" OnValidSubmit="HandleValidSubmit"
        EditContext="@editContext">
        <DataAnnotationsValidator />

        <div class="flex flex-col items-center justify-center">
            <ForgotPasswordImg />

            <h3 class="text-2xl text-[#151515] mt-12">وشەی نهێنیت لەبیرکردووە؟</h3>
            <p class="text-[18px] text-[#696969] text-center mt-2 mb-4">کێشەنییە! تکایە ئەو ژمارە موبایلە بنووسە کە
                پەیوەستە
                بە
                هەژمارەکەتەوە
            </p>
        </div>

        <div class="form-group">
            <label for="mobile" class="text-[#2A2A2A] size-[18px]">ژمارە مۆبایل بنووسە</label>
            <div
                class="input-group border border-[#D1D1D1] rounded-2xl mt-2 px-3 h-[56px] flex rtl:flex-row-reverse items-center gap-2">
                @* TODO: add Country code that you want here. *@
                <InputSelect id="countryCode" @bind-Value="forgotPassword.CountryCode"
                    class="form-control text-left [direction:ltr] outline-0">
                    <option value="+964">+964</option>
                    <option value="+962">+962</option>
                    <option value="+965">+965</option>
                </InputSelect>
                <InputText @bind-Value="forgotPassword.Mobile" class="text-[#696969] grow size-full outline-0"
                    type="tel" id="mobile" name="mobile" placeholder="07*********" />
                @if (@isMobileValid())
                {
                    <ValidInputIcon />
                }
            </div>
            <span class="text-red-500 text-sm mt-1 flex flex-col">
                <ValidationMessage For="@(() => forgotPassword.Mobile)" />
                <ValidationMessage For="@(() => forgotPassword.CountryCode)" />
            </span>
        </div>

        <SubmitBtn Title="وەرگرتنی کۆد" />
        @if (!string.IsNullOrEmpty(serverError))
        {
            <div class="text-red-500 text-center">@serverError</div>
        }

    </EditForm>
</main>

@code {

    [Inject]
    private NavigationManager NavigationManager { get; set; } = default!;

    private ForgotPasswordModel forgotPassword = new ForgotPasswordModel
    {
        CountryCode = "+964" // Default country code
    };
    private EditContext editContext;

    private ValidationMessageStore messageStore;

    protected override void OnInitialized()
    {
        editContext = new EditContext(forgotPassword);
        messageStore = new ValidationMessageStore(editContext);

        editContext.OnFieldChanged += (sender, args) =>
        {
            messageStore.Clear(args.FieldIdentifier);
            editContext.NotifyValidationStateChanged();
        };
    }

    private string? serverError = null;

    private bool isMobileValid()
    {
        if (String.IsNullOrEmpty(forgotPassword.Mobile)) return false;

        var field = editContext.Field(nameof(forgotPassword.Mobile));
        var isMobileValid = !editContext.GetValidationMessages(field).Any();

        return isMobileValid;
    }

    private async Task HandleValidSubmit()
    {
        messageStore.Clear();
        var result = await ForgotPasswordAsync(forgotPassword);

        if (!result.Success)
        {
            foreach (var error in result.Errors)
            {
                messageStore.Add(editContext.Field(error.Key), error.Value);
            }

            editContext.NotifyValidationStateChanged();
            serverError = result.Message;
        }
        else
        {
            serverError = null;
            // TODO: Show OTP Confirm Component
        }
    }

    public Task<FormResult> ForgotPasswordAsync(ForgotPasswordModel model)
    {
        var errors = new Dictionary<string, string>();

        if (model.Mobile != "1234567890")
        {
            errors.Add(nameof(model.Mobile), "ژمارەی مۆبایل نادروستە.");
        }

        if (errors.Count == 0)
        {
            return Task.FromResult(new FormResult
            {
                Success = true,
                Errors = errors,
                Message = "چوونەژوورەوە سەرکەوتووبوو"
            });
        }

        return Task.FromResult(new FormResult
        {
            Success = false,
            Errors = errors,
            Message = "چوونەژوورەوە ناکام بوو"
        });
    }
}