@inject NavigationManager Nav

<div class="stats-grid">
    <div class="stat-card-link" >
         <div class="stat-card">
            <a href="/totalorders">
                <img src="order.svg" class="stat-card-icon" alt="Total Orders">
            <h3>Total Orders</h3>
            <div class="number">@stats[0].Value</div>
                <div class="subtitle">@stats[0].Change</div>
            </a>
        </div>
    </div>

    <div class="stat-card-link">
        <div class="stat-card">
            <a href="/delivered">
                <img src="truck.svg" class="stat-card-icon" alt="Total Delivered">
            <h3>Total Delivered</h3>
            <div class="number">@stats[1].Value</div>
            <div class="subtitle">@stats[1].Change</div>
            </a>
        </div>
    </div>

    <div class="stat-card-link" >
        <div class="stat-card">
            <a href="/goldsmith">
            <img src="goldsmith.svg" class="stat-card-icon" alt="Gold Smiths">
            <h3>Gold Smiths</h3>
            <div class="number">@stats[2].Value</div>
            <div class="subtitle">@stats[2].Change</div>
            </a>
        </div>
    </div>

    <div class="stat-card-link" >
        <div class="stat-card">
            <a href="/moneyProcess">
            <img src="invoice.svg" class="stat-card-icon" alt="To Be Processed">
            <h3>To Be Processed</h3>
            <div class="number">@stats[3].Value</div>
            <div class="subtitle">@stats[3].Change</div>
            </a>
        </div>
       
    </div>
</div>

@code {
    private List<StatItem> stats = new()
    {
        new StatItem { Value = 13564, Change = "+8.4% from last month" },
        new StatItem { Value = 564, Change = "+12.5% from last week" },
        new StatItem { Value = 120, Change = "-2.7% from yesterday" },
        new StatItem { Value = 56, Change = "Updated 2 mins ago" }
    };

    public class StatItem
    {
        public int Value { get; set; }
        public string Change { get; set; }
    }
}
