@page "/profile"
@rendermode InteractiveServer
@using WebComponent.Components.Theme
@inject IStringLocalizer<Resource> Localizer
<MudPopoverProvider />
<div class="profile-page">
    <!-- Language Selector -->
    <LanguageSelection></LanguageSelection>
    <ThemeSwitch></ThemeSwitch>
    <!-- Profile Info -->
    <div class="profile-info">
        <img src="_content/WebComponent/assets/Icons/profile.svg" alt="Profile Image" class="profile-img"/>
        <h3 class="profile-name">User</h3>
        <p class="profile-phone">+964********</p>
    </div>

    <!-- Menu -->
    <ul class="menu">
        <li class="menu-item">
            <a href="/orderhistory" class="menu-link">
                <img src="_content/WebComponent/assets/Icons/order.svg" alt="Orders Icon" class="icon"/>
                @Localizer[nameof(Resource.MenuSettingsOrders)]
            </a>
        </li>
        <li class="menu-item">
            <a href="/manageprofile" class="menu-link">
                <img src="_content/WebComponent/assets/Icons/skills.png" alt="account Icon" class="icon"/>
                @Localizer[nameof(Resource.MenuSettingsManageProfile)]
            </a>
        </li>
        <li class="menu-item">
            <a href="/notifications" class="menu-link">
                <img src="_content/WebComponent/assets/Icons/notification.png" alt="Notifications Icon" class="icon"/>
                @Localizer[nameof(Resource.MenuSettingsNotifications)]
            </a>
        </li>
        <li class="menu-item">
            <a href="/change-password" class="menu-link">
                <img src="_content/WebComponent/assets/Icons/lock.svg" alt="Change Password Icon" class="icon"/>
                @Localizer[nameof(Resource.MenuSettingsChangePassword)]
            </a>
        </li>
        <li class="menu-item">
            <a href="/language" class="menu-link">
                <img src="_content/WebComponent/assets/Icons/policy.png" alt="policy Icon" class="icon"/>
                @Localizer[nameof(Resource.MenuSettingsPrivatePolicy)]
            </a>
        </li>
        <li class="menu-item">
            <a href="/signout" class="menu-link">
                <img src="_content/WebComponent/assets/Icons/logout.png" alt="sign out Icon" class="icon"/>
                @Localizer[nameof(Resource.MenuSettingsSignOut)]
            </a>
        </li>
    </ul>
</div>

@code {
   
}
