@using GoldBazar.Client.Web.Components.Pages.Jewelers.Models

<NavLink href="@($"/jewelers/{Jeweler.Id}")" class="flex flex-col items-center justify-between">
    <div class="bg-white border border-[#D4D4D4] w-full rounded-lg min-h-[153px] p-4 flex items-start justify-between">
        <div class="flex flex-col gap-1.5">
            <div class="text-[#565656] flex items-center">
                <span class="mb-2">
                    <HomeIcon Color="currentColor" />
                </span>
                <h3 class="text-xl mr-2">@Jeweler.Name</h3>
            </div>
            <div class="text-[#565656] flex items-center">
                <span class="mb-2">
                    <LocationIcon Stroke="currentColor" />
                </span>
                <h3 class="text-xl mr-2">@Jeweler.Location</h3>
            </div>
            <div class="flex w-[138px] items-center justify-between mr-1 mt-1">
                <StarIcon Stroke="#000" Height="20" Width="20" />
                <StarIcon Stroke="#000" Height="20" Width="20" />
                <StarIcon Stroke="#000" Height="20" Width="20" />
                <StarIcon Stroke="#000" Height="20" Width="20" />
                <StarIcon Stroke="#000" Height="20" Width="20" />
            </div>
        </div>
        <div>
            <div class="size-[90px] border border-[#EBAD4299] rounded-[10px] flex items-center justify-center bg-white">
                <img class="w-full h-auto" src="/images/jewelers/1.png" alt="">
            </div>
            <div
                class="size-[90px] rounded-[34px] h-[20px] border borded-2 border-[#EBAD42] mt-1 flex justify-center items-center">
                <h5 class="pt-0.5 text-[#A39999] text-[10px] border-l border-[#A39999] leading-[1] pl-1 ml-2">
                    @Jeweler.ReviewsCount
                </h5>
                <span class="mb-0.5">
                    <StarIcon Color="#EBAD42" Height="12" Width="12" />
                </span>
                <h6 class="text-xs font-normal mr-1">
                    @if (@Jeweler.Rating == null)
                    {
                        <span>بێ نرخ</span>
                    }
                    else
                    {
                        @Jeweler.Rating
                    }
                </h6>
            </div>
        </div>
    </div>
</NavLink>

@code {
    [Parameter]

    public required Jeweler Jeweler { get; set; }
}