@rendermode InteractiveServer
@page "/products/{productId:int}"
@using GoldBazar.Client.Web.Components.Pages.ProductDetails.Components
@using GoldBazar.Client.Web.Components.Shared.Icons
@using GoldBazar.Client.Web.Components.Shared.Components

<PageTitle>GOLD BAZAR</PageTitle>

<main class="relative mb-[100px]">
    <Header Title="@product?.Caption" />

    <section class="h-[233px] relative my-3 bg-[#F9F9FB]">
        @if (product != null)
        {
            <Slider ProductId="@product.Id" />

            @if (product.Discount > 0)
            {
                <span class="absolute top-[24px] left-[24px]">
                    <DiscountIcon Color="#8D62F9EB" />
                </span>
            }

            <div class="absolute bottom-[24px] right-[24px] cursor-pointer z-1" @onclick="onFavIconClick">
                <FavIcon Color="@FavColor" Stroke="#8D62F9EB" />
            </div>

            <div class="absolute flex flex-col items-end bottom-[24px] left-[24px]">
                <div class="flex items-center justify-around rounded-[34px] p-1 border-[#D7D7D7] border w-[66px] h-[20px]">
                    <h5 class="pt-0.5 text-[#A39999] text-[10px] border-l border-[#A39999] leading-[1] pl-1">234</h5>
                    <span class="mb-0.5">
                        <StarIcon Color="#EBAD42" Height="12" Width="12" />
                    </span>
                    <h6 class="text-xs font-normal">4.3</h6>
                </div>
                <div class="flex w-[90px] items-center justify-between mt-2">
                    <StarIcon Stroke="#000" Height="14" Width="14" />
                    <StarIcon Stroke="#000" Height="14" Width="14" />
                    <StarIcon Stroke="#000" Height="14" Width="14" />
                    <StarIcon Stroke="#000" Height="14" Width="14" />
                    <StarIcon Stroke="#000" Height="14" Width="14" />
                </div>
            </div>
        }

    </section>

    <section class="flex items-center justify-between my-2 mx-4">
        @if (product != null)
        {
            <h2 class="text-2xl font-normal">@product.Caption</h2>
            <div class="flex items-center">
                @if (product.Discount > 0)
                {
                    <span class="text-[20px] text-[#898989] ml-2 line-through">@product.Price</span>
                    <span class="text-[26px] text-black">@product.OldPrice</span>
                }
                else
                {
                    <span class="text-[26px] text-black">@product.Price</span>
                }
            </div>
        }
    </section>

    <section class="flex flex-col items-center justify-between my-2 mx-4">
        @if (product != null)
        {
            <div class="border border-[#4C46E3] grid grid-cols-3 place-items-center rounded-t-lg h-[56px] w-full">
                <div class="text-base">
                    <span class="text-[#6D6D6D]">عەیارە:</span>
                    <span class="text-black">21</span>
                </div>
                <div class="text-base">
                    <span class="text-[#6D6D6D]">کێش:</span>
                    <span class="text-black">4.5g</span>
                </div>
                <div class="text-base">
                    <span class="text-[#6D6D6D]">قەبارە:</span>
                    <span class="text-black">34</span>
                </div>
            </div>
            <div
                class="border text-base text-white flex items-center justify-center border-[#4C46E3] bg-[#4C46E3] rounded-b-lg h-[43px] w-full">
                بەپێی خواستی خۆت دیاریبکە
            </div>
        }
    </section>

    <section class="flex flex-col items-center justify-between m-4">
        <div
            class="bg-[#EBAD420D] border border-[#EBAD42] w-full rounded-lg min-h-[153px] p-4 flex items-start justify-between">
            <div class="flex flex-col gap-1.5">
                <div class="text-[#565656] flex items-center">
                    <span class="mb-2">
                        <HomeIcon Color="currentColor" />
                    </span>
                    <h3 class="text-xl mr-2">ئەڤیتا ستۆر</h3>
                </div>
                <div class="text-[#565656] flex items-center">
                    <span class="mb-2">
                        <LocationIcon Stroke="currentColor" />
                    </span>
                    <h3 class="text-xl mr-2">سلێمانی ، بەرامبەر سەرا</h3>
                </div>
                <div class="flex w-[138px] items-center justify-between mr-1 mt-1">
                    <StarIcon Stroke="#000" Height="20" Width="20" />
                    <StarIcon Stroke="#000" Height="20" Width="20" />
                    <StarIcon Stroke="#000" Height="20" Width="20" />
                    <StarIcon Stroke="#000" Height="20" Width="20" />
                    <StarIcon Stroke="#000" Height="20" Width="20" />
                </div>
            </div>
            <div>
                <div
                    class="size-[90px] border border-[#EBAD4299] rounded-[10px] flex items-center justify-center bg-white">
                    <img class="w-full h-auto" src="/images/shop/0.png" alt="">
                </div>
                <div
                    class="size-[90px] rounded-[34px] h-[20px] border borded-2 border-[#EBAD42] mt-1 flex justify-center items-center">
                    <h5 class="pt-0.5 text-[#A39999] text-[10px] border-l border-[#A39999] leading-[1] pl-1 ml-2">234
                    </h5>
                    <span class="mb-0.5">
                        <StarIcon Color="#EBAD42" Height="12" Width="12" />
                    </span>
                    <h6 class="text-xs font-normal mr-1">4.3</h6>
                </div>
            </div>
        </div>
    </section>

    <section class="flex flex-col items-center justify-between my-2 mx-4">
        <div class="bg-[#FFF2E8] rounded-lg w-full flex flex-col">
            <div class="flex items-center p-4">
                <GoldIcon Color="#FFBE0D" Height="24" Width="24" />
                <span class="text-black text-base mr-2">ئاڵتوون</span>
            </div>
            <div class="grid grid-cols-3 min-h-[117px] gap-1 overflow-hidden rounded-b-lg">
                <div class="bg-[#FFF9F5] p-2 flex flex-col items-start">
                    <h4 class="text-base text-black">ڕەهەندەکان</h4>
                    <div class="flex flex-col mt-2 mr-1 items-start w-full gap-1">
                        <span class="text-sm">درێژی : 43cm</span>
                        <span class="text-sm">درێژی : 43cm</span>
                    </div>
                </div>
                <div class="bg-[#FFF9F5] p-2 flex flex-col items-start">
                    <h4 class="text-base text-black">کێش</h4>
                    <div class="flex flex-col mt-2 mr-1 items-start w-full gap-1">
                        <span class="text-sm">کۆ : 43g</span>
                    </div>
                </div>
                <div class="bg-[#FFF9F5] p-2 flex flex-col items-start">
                    <h4 class="text-base text-black">خاوێنی</h4>
                    <div class="flex flex-col mt-2 mr-1 items-start gap-1">
                        <span class="text-sm">عەیارە : 18</span>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="flex flex-col items-center justify-between my-2 mx-4">
        <div class="w-full p-2">
            <h2 class="text-xl text-black">تایبەتمەندییەکان</h2>
            <div class="grid grid-cols-2 text-lg text-[#636363] p-2">
                <div class="flex items-center gap-3">
                    <span class="w-1 h-1 rounded-full bg-[#636363] mt-1 mb-1"></span>
                    <span>نەخشی دەستکرد</span>
                </div>
                <div class="flex items-center gap-3">
                    <span class="w-1 h-1 rounded-full bg-[#636363] mt-1 mb-1"></span>
                    <span>ستایلی کلاسیک</span>
                </div>
                <div class="flex items-center gap-3">
                    <span class="w-1 h-1 rounded-full bg-[#636363] mt-1 mb-1"></span>
                    <span>ئاڵتونی زەرد</span>
                </div>
                <div class="flex items-center gap-3">
                    <span class="w-1 h-1 rounded-full bg-[#636363] mt-1 mb-1"></span>
                    <span>پۆلیش کراو</span>
                </div>
            </div>
        </div>
        <div class="border border-[#C8C8C8] w-[60%] h-[1px]"></div>
    </section>

    <section class="flex flex-col items-center justify-between m-4">
        <div class="w-full">
            <h2 class="text-lg px-2 text-black">بەرهەمەکانی تری زەڕەنگەر</h2>
            <div class="mt-2 flex overflow-x-auto gap-2">
                <div
                    class="bg-[#8D62F926] border border-[#8D62F9CF] rounded-2xl h-[159px] min-w-[320px] w-[320px] p-4 flex items-center justify-between">
                    <div>
                        <div>
                            <span class="text-base text-[#7A7A7A] ml-2 line-through">$١٨٩</span>
                            <span class="text-lg text-[#020202]">$١٧٩</span>
                        </div>
                        <h2 class="text-black mt-2">گوارەی عەیارە 21</h2>
                        <h3 class="text-black mt-1">زەڕەنگەری : ئەڤیتا ستۆر</h3>
                        <svg class="mt-2 mr-[-4px]" width="36" height="36" viewBox="0 0 36 36" fill="none"
                            xmlns="http://www.w3.org/2000/svg">
                            <circle cx="18" cy="18" r="18" fill="#8D62F9" fill-opacity="0.5" />
                            <path
                                d="M25.3231 16.9633C25.3157 15.0614 24.3179 13.2728 22.3506 12.6391C20.9998 12.2032 19.5284 12.4456 18.3857 14.0862C17.243 12.4456 15.7715 12.2032 14.4207 12.6391C12.4533 13.2729 11.4555 15.0618 11.4482 16.964C11.4301 20.7467 15.2632 23.6414 18.3847 25.0249L18.3857 25.0245L18.3867 25.0249C21.5084 23.6413 25.3418 20.7464 25.3231 16.9633Z"
                                stroke="white" stroke-opacity="0.92" stroke-width="1.5" stroke-linecap="square" />
                        </svg>
                    </div>
                    <div class="size-[130px] bg-white rounded-2xl">
                        <img src="/images/product/0.png" class="w-full h-auto rounded-2xl" alt="" />
                    </div>
                </div>

                <div
                    class="bg-[#8D62F926] border border-[#8D62F9CF] rounded-2xl h-[159px] min-w-[320px] w-[320px] p-4 flex items-center justify-between">
                    <div>
                        <div>
                            <span class="text-base text-[#7A7A7A] ml-2 line-through">$١٨٩</span>
                            <span class="text-lg text-[#020202]">$١٧٩</span>
                        </div>
                        <h2 class="text-black mt-2">گوارەی عەیارە 21</h2>
                        <h3 class="text-black mt-1">زەڕەنگەری : ئەڤیتا ستۆر</h3>
                        <svg class="mt-2 mr-[-4px]" width="36" height="36" viewBox="0 0 36 36" fill="none"
                            xmlns="http://www.w3.org/2000/svg">
                            <circle cx="18" cy="18" r="18" fill="#8D62F9" fill-opacity="0.5" />
                            <path
                                d="M25.3231 16.9633C25.3157 15.0614 24.3179 13.2728 22.3506 12.6391C20.9998 12.2032 19.5284 12.4456 18.3857 14.0862C17.243 12.4456 15.7715 12.2032 14.4207 12.6391C12.4533 13.2729 11.4555 15.0618 11.4482 16.964C11.4301 20.7467 15.2632 23.6414 18.3847 25.0249L18.3857 25.0245L18.3867 25.0249C21.5084 23.6413 25.3418 20.7464 25.3231 16.9633Z"
                                stroke="white" stroke-opacity="0.92" stroke-width="1.5" stroke-linecap="square" />
                        </svg>
                    </div>
                    <div class="size-[130px] bg-white rounded-2xl">
                        <img src="/images/product/0.png" class="w-full h-auto rounded-2xl" alt="" />
                    </div>
                </div>

                <div
                    class="bg-[#8D62F926] border border-[#8D62F9CF] rounded-2xl h-[159px] min-w-[320px] w-[320px] p-4 flex items-center justify-between">
                    <div>
                        <div>
                            <span class="text-base text-[#7A7A7A] ml-2 line-through">$١٨٩</span>
                            <span class="text-lg text-[#020202]">$١٧٩</span>
                        </div>
                        <h2 class="text-black mt-2">گوارەی عەیارە 21</h2>
                        <h3 class="text-black mt-1">زەڕەنگەری : ئەڤیتا ستۆر</h3>
                        <svg class="mt-2 mr-[-4px]" width="36" height="36" viewBox="0 0 36 36" fill="none"
                            xmlns="http://www.w3.org/2000/svg">
                            <circle cx="18" cy="18" r="18" fill="#8D62F9" fill-opacity="0.5" />
                            <path
                                d="M25.3231 16.9633C25.3157 15.0614 24.3179 13.2728 22.3506 12.6391C20.9998 12.2032 19.5284 12.4456 18.3857 14.0862C17.243 12.4456 15.7715 12.2032 14.4207 12.6391C12.4533 13.2729 11.4555 15.0618 11.4482 16.964C11.4301 20.7467 15.2632 23.6414 18.3847 25.0249L18.3857 25.0245L18.3867 25.0249C21.5084 23.6413 25.3418 20.7464 25.3231 16.9633Z"
                                stroke="white" stroke-opacity="0.92" stroke-width="1.5" stroke-linecap="square" />
                        </svg>
                    </div>
                    <div class="size-[130px] bg-white rounded-2xl">
                        <img src="/images/product/0.png" class="w-full h-auto rounded-2xl" alt="" />
                    </div>
                </div>

                <div
                    class="bg-[#8D62F926] border border-[#8D62F9CF] rounded-2xl h-[159px] min-w-[140px] w-[140px] p-4 flex items-center justify-between">
                    <div class="w-full flex flex-col items-center justify-center">
                        <span class="bg-[#8D62F9] rounded-full p-1">
                            <ArrowLeft Stroke="#FFFFFF" />
                        </span>
                        <span class="text-2xl text-[#8D62F9] mt-2">زیاتر ببینە</span>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="flex flex-col items-center justify-between m-4">
        <div class="w-full">
            <h2 class="text-lg px-2 text-black">بەرهەمی هاوشێوە</h2>
            <div class="mt-2 gap-4 grid grid-cols-2 md:grid-cols-4">
                @* @foreach (var Product in Products)
                {
                    <ProductItem Product="@Product" />
                } *@
            </div>
        </div>
    </section>

    <section class="fixed bottom-0 h-[96px] w-full z-10 bg-white" style="box-shadow: 0px -5px 23.4px rgba(0, 0, 0, 0.15);">
        <div class="flex items-center justify-between h-full py-5 px-8">
            <button class="cursor-pointer flex items-center gap-4 h-full justify-center text-white w-[210px] rounded-2xl bg-[linear-gradient(99.09deg,_#4C46E3_26.12%,_#524CEA_103.96%)]" @onclick="() => OpenAddToCartModal = true">
                <span class="text-[28px] font-normal">کڕین</span>    
                <CartIcon2 Color="currentColor" />
            </button>
            <div class="flex flex-col items-center">
                @if (product != null)
                {
                    @if (product.Discount > 0)
                    {
                        <span class="text-[20px] text-[#898989] line-through">@product.Price</span>
                        <span class="text-[26px] text-[#070707]">@product.OldPrice</span>
                    }
                    else
                    {
                        <span class="text-[26px] text-[#070707]">@product.Price</span>
                    }
                }
            </div>
        </div>
    </section>

    <AnimatedModal @bind-IsVisible="OpenAddToCartModal">
        <ChildContent>
            <div class="bg-[#EBAD4236] h-[65px] flex justify-center items-center">
                <NotificationIcon Stroke="#EBAD42" />
            </div>
            <div class="flex flex-col items-center gap-2 p-4">
                <h3 class="text-black text-2xl">کڕینی پێشووت تەواو نەکردووە</h3>
                <h5 class="text-[#4D4D4D] text-[18px] mt-2 text-center leading-8">سەرەتا کڕینەکەی پێشووت تەواو بکە لە بەشی کاڵاکان بۆ داواکردنی کاڵای نوێ</h5>
                <div class="flex flex-col items-center gap-4 my-4">
                    <NavLink href="/cart">
                        <button class="text-white gap-3 rounded-2xl flex items-center justify-center p-2.5 bg-[#3379F0] w-[232px] text-[17px] cursor-pointer font-bold">
                            <span>کڕینەکەم تەواودەکەم</span>
                            <span><CartIcon2 Color="currentColor" /></span>
                        </button>
                    </NavLink>
                    <button class="text-black text-sm cursor-pointer font-semibold" @onclick="() => OpenCancelationModal = true">هەڵوەشاندنەوەی کڕینی پێشوو</button>
                </div>
                <div class="flex items-center gap-2 self-start text-[#989898] text-sm">
                    <NotificationIcon Stroke="currentColor" Width="17" Height="17" />
                    <span>هۆکاری ئەم ڕووداوە</span>
                </div>
            </div>
        </ChildContent>
    </AnimatedModal>

    <AnimatedModal @bind-IsVisible="OpenCancelationModal">
        <ChildContent>
            <div class="bg-[#EF606036] h-[65px] flex justify-center items-center">
                <NotificationIcon Stroke="#EF6060" />
            </div>
            <div class="flex flex-col items-center gap-2 p-4 border-b border-[#0000000F]">
                <h3 class="text-black text-2xl">ئاگاداربە</h3>
                <h5 class="text-[#4D4D4D] text-[18px] mt-2 text-center leading-8">بەم شێوەیە ئەو کاڵایانەی پێشوو هەڵتبژاردووە ئەسڕدرێنەوە ، دڵنیایت لە سڕینەوەی کاڵاکانی پێشوو؟</h5>
            </div>
            <div class="flex flex-col items-center gap-3 p-4 my-2">
                <button class="text-[#EF6060] text-xl cursor-pointer font-bold">بەڵێ دڵنیام</button>
                <button class="text-[#0000009C] text-xl cursor-pointer font-semibold">نەخێر ، کڕینەکانی پێشووم تەواو دەکەم</button>
            </div>
        </ChildContent>
    </AnimatedModal>
</main>

@code {
    [Parameter]
    public int productId { get; set; }
    private ItemDTO product { get; set; } = default!;
    private string FavColor => product!.IsFavorite ? "#8D62F9EB" : "none";

    private bool OpenAddToCartModal { get; set; } = false;
    private bool OpenCancelationModal { get; set; } = false;

    private async Task onFavIconClick()
    {
        await Task.Delay(500);

        if (product != null)
        {
            product.IsFavorite = !product.IsFavorite;
        }
    }
}