@using WebComponent.Constants
@inject IStringLocalizer<Resource> Localizer
<nav class="bottom-nav">
    <NavLink href="/" class="nav-item" Match="NavLinkMatch.All">
        <div class="nav-content">
            <img src="_content/WebComponent/assets/Icons/home.svg" class="icon-outline" alt="">
            <img src="_content/WebComponent/assets/Icons/homefill.svg" class="icon-fill" alt="">
            <span>@Localizer[nameof(Resource.NavHome)]</span>
        </div>
    </NavLink>

    <NavLink href="@RouteConstants.CATEGORIES" class="nav-item">
        <div class="nav-content">
            <img src="_content/WebComponent/assets/Icons/category.svg" class="icon-outline" alt="">
            <img src="_content/WebComponent/assets/Icons/categoryFill.svg" class="icon-fill" alt="">
            <span>@Localizer[nameof(Resource.NavCategories)]</span>
        </div>
    </NavLink>

    <NavLink href="@RouteConstants.OFFERS" class="nav-item">
        <div class="nav-content">
            <img src="_content/WebComponent/assets/Icons/offer.svg" class="icon-outline" alt="">
            <img src="_content/WebComponent/assets/Icons/offerFill.svg" class="icon-fill" alt="">
            <span>@Localizer[nameof(Resource.NavOffers)]</span>
        </div>
    </NavLink>

    <NavLink href="@RouteConstants.GOLDSMITHS" class="nav-item">
        <div class="nav-content">
            <img src="_content/WebComponent/assets/Icons/shopfill.svg" class="icon-outline" alt="">
            <img src="_content/WebComponent/assets/Icons/shopnofill.svg" class="icon-fill" alt="">
            <span>@Localizer[nameof(Resource.NavJewlers)]</span>
        </div>
    </NavLink>

    <NavLink href="@RouteConstants.PROFILE" class="nav-item">
        <div class="nav-content">
            <img src="_content/WebComponent/assets/Icons/profile.svg" class="icon-outline" alt="">
            <img src="_content/WebComponent/assets/Icons/profileFill.svg" class="icon-fill" alt="">
            <span>@Localizer[nameof(Resource.NavAccount)]</span>
        </div>
    </NavLink>
</nav>